.graph-wrapper {
    height: 500px;
}

.graph-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.graph-list-item {
    width: 8rem;
    height: 2.5rem;
}

.graph-list-item:hover{
    color: lightcyan;
    /* border: 2px solid lightcyan; */
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(26, 22, 22, 0.493);
}

.graph-list-item:active{
    color: lightcyan;
    /* border: 2px solid lightcyan; */
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgba(26, 22, 22, 0.493) inset;
}